    .projets{
        margin: 0px auto 100px ;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .projet{
        position: relative;
        width: 270px;
        height: 100%;
        margin: 10px 0;
        border-radius: 5px;
    }
    .projet img{
        width: 100%;
        border-radius: 5px;
    }
    .background-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(10px);
        border-radius: 2px;
    }
    .titre-projet {
        padding: 16px 32px;
        font-size: 20px;
        color: wheat;
        font-weight: 600;
        text-align: center;
      }
    .all-projets{
        margin-top: 40px;
        backdrop-filter: blur(30px);
        width: 200px;
        height: auto;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
    .all-projets a{
        color: black!important;
    }

      @media screen and (min-width: 496px) and (max-width: 776px) {
        .projet{
            margin: 20px 70px;
            width: 300px;
        }
      }
      @media screen and (min-width: 777px) {
            
        .projet-h2{
        padding-top: 100px!important;
        padding-bottom: 20px!important;
        }
        .projet{
            margin: 40px 70px;
            width: 400px;
        }
        .all-projets{
            margin-top: 40px;
            width: 300px;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
        }


    }
    

